body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main {
  text-align: center;
}

.top {
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem;
  margin-bottom: 20px;
}

.group {
  text-align: center;
  display: flex; /* Add flexbox display */
  flex-direction: column; /* Arrange children vertically */
}

.def {
  color: #393e46;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn {
  margin-top: 20px;
  border: none;
  background-color: #f76a8c;
  width: 45%; /* Adjust width of buttons */
}

.btn:hover {
  background-color: #eb6383;
}

input {
  border-radius: 5px;
  text-align: center;
  border: solid #f76a8c;
  color: #f76a8c;
  font-weight: bold;
  font-size: 1.5rem;
  height: 70px;
  width: 45%;
  margin-bottom: 10px;
  display: block; /* Ensure input fields are displayed as block elements */
  margin-left: auto; /* Center align the input fields */
  margin-right: auto; /* Center align the input fields */
}

#nam1 {
  font-size: 1.5rem;
  color: #f76a8c;
}

#display_flame {
  margin-top: 20px;
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem;
}

@media only screen and (max-width: 768px) {
  .top {
      font-size: 2rem;
  }
}
